---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex size-full items-center justify-center">
    <div class="max-w-md flex flex-col gap-4">
      <a href="/first-race" class="text-2xl hover:underline">First Race</a>
      <a href="/level-builder" class="text-2xl hover:underline">Level Builder</a
      >
      <a href="/random-balls" class="text-2xl hover:underline">Random Balls</a>
    </div>
  </main>
</Layout>
