---
import Layout from "../layouts/Layout.astro";

const pages = [
  {
    name: "Random Balls",
    href: "/random-balls",
  },
  {
    name: "Level Builder",
    href: "/level-builder",
  },
  {
    name: "First Race",
    href: "/first-race",
  },
  {
    name: "Second Race",
    href: "/second-race",
  },
  {
    name: "Arrow",
    href: "/arrow",
  },
  {
    name: "Angular Collisions",
    href: "/angular-collisions",
  },
  {
    name: "SAT Collision",
    href: "/sat-collision",
  },
  {
    name: "GJK Collision",
    href: "/gjk-collision",
  },
  {
    name: "Collision Resolution",
    href: "/collision-resolution",
  },
  {
    name: "Kinematic Forces",
    href: "/kinematic-forces",
  },
];
---

<Layout>
  <main class="flex size-full items-center justify-center flex-col max-w-2xl">
    <div class="flex flex-col gap-16 text-2xl">
      <h1 class="font-bold text-3xl">Debug Pages</h1>
      <div class="flex flex-col gap-8">
        {
          pages.map((page) => (
            <a href={page.href} class="hover:underline text-sky-300">
              {page.name}
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
