---
import HomeLink from "../components/HomeLink.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main
    class="relative flex flex-col w-screen h-screen items-center justify-center gap-5"
  >
    <HomeLink />

    <p
      class="absolute text-rose-500 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-2xl font-mono"
      id="#error"
    >
    </p>
    <div
      class="absolute z-10 top-5 flex justify-between items-center bg-zinc-700 h-fit w-fit px-2 py-2 gap-1 text-base rounded-lg shadow-lg"
    >
      <button
        id="#tool-select-pan"
        data-active="false"
        class="hover:bg-zinc-600 data-[active=true]:bg-zinc-500 data-[active=true]:font-semibold rounded-lg size-9 flex items-center justify-center flex-none"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          class="size-6"
        >
          <path
            d="M18 11V6C18 5.46957 17.7893 4.96086 17.4142 4.58579C17.0391 4.21071 16.5304 4 16 4C15.4696 4 14.9609 4.21071 14.5858 4.58579C14.2107 4.96086 14 5.46957 14 6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M14 10V4C14 3.46957 13.7893 2.96086 13.4142 2.58579C13.0391 2.21071 12.5304 2 12 2C11.4696 2 10.9609 2.21071 10.5858 2.58579C10.2107 2.96086 10 3.46957 10 4V6"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M10 10.5V6C10 5.46957 9.78929 4.96086 9.41421 4.58579C9.03914 4.21071 8.53043 4 8 4C7.46957 4 6.96086 4.21071 6.58579 4.58579C6.21071 4.96086 6 5.46957 6 6V14"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M18 8C18 7.46957 18.2107 6.96086 18.5858 6.58579C18.9609 6.21071 19.4696 6 20 6C20.5304 6 21.0392 6.21071 21.4142 6.58579C21.7893 6.96086 22 7.46957 22 8V14C22 16.1217 21.1572 18.1566 19.6569 19.6569C18.1566 21.1571 16.1217 22 14 22H12C9.20001 22 7.50001 21.14 6.01001 19.66L2.41001 16.06C2.06595 15.6789 1.8816 15.1802 1.89514 14.6669C1.90867 14.1537 2.11906 13.6653 2.48273 13.303C2.84641 12.9406 3.33551 12.7319 3.84878 12.7202C4.36205 12.7085 4.86018 12.8946 5.24001 13.24L7.00001 15"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
      <button
        id="#tool-select-select"
        data-active="false"
        class="hover:bg-zinc-600 data-[active=true]:bg-zinc-500 data-[active=true]:font-semibold size-9 flex items-center justify-center flex-none rounded-md group"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          class="size-6 group-data-[active=true]:fill-white"
        >
          <path
            d="M12.586 12.586L19 19"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M3.68799 3.03699C3.59693 2.99862 3.4965 2.98826 3.39952 3.00724C3.30255 3.02622 3.21343 3.07368 3.14355 3.14355C3.07368 3.21343 3.02622 3.30255 3.00724 3.39952C2.98826 3.4965 2.99862 3.59693 3.03699 3.68799L9.53699 19.687C9.57701 19.7838 9.64635 19.8656 9.73527 19.9209C9.82418 19.9763 9.92821 20.0024 10.0327 19.9955C10.1372 19.9887 10.237 19.9493 10.3179 19.8828C10.3989 19.8163 10.4569 19.7262 10.484 19.625L12.053 13.542C12.1365 13.1868 12.3156 12.8613 12.5708 12.6006C12.826 12.3399 13.1477 12.154 13.501 12.063L19.625 10.484C19.7267 10.4576 19.8175 10.3998 19.8845 10.3189C19.9515 10.238 19.9913 10.138 19.9982 10.0332C20.0052 9.92841 19.979 9.82405 19.9233 9.73498C19.8676 9.6459 19.7853 9.57663 19.688 9.53699L3.68799 3.03699Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
      <button
        id="#tool-select-square"
        data-active="false"
        class="hover:bg-zinc-600 data-[active=true]:bg-zinc-500 data-[active=true]:font-semibold size-9 flex items-center justify-center flex-none rounded-md group"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          class="size-6 group-data-[active=true]:fill-white"
        >
          <path
            d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
      <button
        id="#tool-select-circle"
        data-active="false"
        class="hover:bg-zinc-600 data-[active=true]:bg-zinc-500 data-[active=true]:font-semibold size-9 flex items-center justify-center flex-none rounded-md group"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          class="size-6 group-data-[active=true]:fill-white"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
      <button
        id="#tool-select-finish-line"
        data-active="false"
        class="hover:bg-zinc-600 data-[active=true]:bg-zinc-500 data-[active=true]:font-semibold size-9 flex items-center justify-center flex-none rounded-md group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-6 group-data-[active=true]:fill-white"
        >
          <path
            d="M4 22V4a1 1 0 0 1 .4-.8A6 6 0 0 1 8 2c3 0 5 2 7.333 2q2 0 3.067-.8A1 1 0 0 1 20 4v10a1 1 0 0 1-.4.8A6 6 0 0 1 16 16c-3 0-5-2-8-2a6 6 0 0 0-4 1.528"
          ></path>
        </svg>
      </button>
    </div>

    <div
      class="absolute z-10 bottom-0 flex flex-col gap-4 bg-zinc-800/40 w-full px-12 py-8 h-70 items-start backdrop-blur"
    >
      <h1 class="font-semibold underline text-lg">Debug Info</h1>
      <pre id="#debug-info" class="text-mono"></pre>
      <p id="#fps" class="">FPS: 0</p>
    </div>

    <canvas
      id="gl-canvas"
      class="bg-zinc-900 size-full drop-shadow-xl data-[pointer=pan]:cursor-grab data-[pointer=select]:cursor-default data-[pointer=shape]:cursor-crosshair"
    >
      Canvas Not supported
    </canvas>
  </main>
</Layout>

<script>
  import main from "../scenes/level-builder.ts";

  // Display errors on page
  try {
    const toolSelectPan = document.getElementById("#tool-select-pan");
    const toolSelectSelect = document.getElementById("#tool-select-select");
    const toolSelectSquare = document.getElementById("#tool-select-square");
    const toolSelectCircle = document.getElementById("#tool-select-circle");
    const toolSelectFinishLine = document.getElementById(
      "#tool-select-finish-line"
    );

    main({
      pan: toolSelectPan,
      select: toolSelectSelect,
      square: toolSelectSquare,
      circle: toolSelectCircle,
      finishLine: toolSelectFinishLine,
    });
  } catch (error) {
    const errorElem = document.getElementById("#error");
    if (errorElem) {
      errorElem.textContent = `${error}`;
    }
  }
</script>
