---
import backArrow from "../assets/backArrow.svg";
import "../styles/global.css";
---

<a
  href="/"
  class="text-zinc-400 hover:text-zinc-300 text-2xl absolute top-5 left-5 z-10 flex items-center gap-2 bg-zinc-900/80 px-8 py-3.5 rounded-lg backdrop-blur"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="size-6"
    ><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg
  >
  <span> Home </span>
</a>
